.spinner {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--color) 94%, #0000) top/3px 3px no-repeat,
    conic-gradient(#0000 30%, var(--color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
  margin: 0 auto;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}